<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>list</h2>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>
      <h2>Fruits List</h2>
      <li>Mango</li>
      <li>Apple</li>
      <li>Banana</li>
      <li>Strawberries</li>
      
    </ul>
  </body>
</html>